.cart {
    padding: 20px;
    height: 100vh;
    background: radial-gradient(at top, rgb(63, 77, 123) 40%, #07263f);
}

.cart_title {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 80%;
    color: white;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    background: radial-gradient(at bottom, #07263f, rgba(63, 77, 123, 0) 55%);
    border-bottom: 1px solid rgb(47, 54, 112);
}

.cart_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
}

.cart_container h2 {
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.cart_items {
    display: block;
    width: 550px;
    margin-right: 50px;
}

.button_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.continue_button {
    background-color: green;
    min-width: fit-content;
    width: 140px;
    height: 40px;
}

.remove_all_button {
    background: none;
    border: none;
    min-width: fit-content;
    width: 140px;
    height: 40px;
}

