.checkout {
    background: radial-gradient(at top, rgb(63, 77, 123) 5%, #07263f);
    height: 100vh;
    color: #B3DFFF;
}

.checkout_container {
    margin: 0 auto;
    width: 1000px;
}

.checkout_content_left {
    display: block;
    float: left;
    width: 500px;
}

.checkout_content_right {
    float: right;
    width: 300px;
    margin-right: 100px;
}

.checkout_section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, .2);
    margin-top: 20px;
    border-radius: 4px;
}

.payment_title {
    flex: 0.3;
    font-size: 14px;
    
}

.payment_details {
    flex: 0.7;
    font-size: 14px;
    color: #fff;
}

.account_detail {
    margin-top: 10px
}

.payment_details > p {
    margin-top: 10px;
}