.card {
    display: flex;
}

.slide_info {
    display: block;
    width: 230px;
    color: white;
    flex-shrink: 1;
}

.slide_info>span {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 10px;
}

.game_title {
    font-size: 20px;
    font-weight: 500;
}

.game_price {
    position: absolute;
    bottom: 14px;
    left: 625px;
    font-size: 12px;
    font-weight: 400;
}

.platforms {
    color: white;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.platform {
    padding-left: 5px;
}