/* BELOW STYLES ARE FOR CARDS THAT APPEARED IN FEATURED SLIDE SHOW SECTION OF HOME PAGE */

.card {
    display: flex;
    box-shadow: 0 0 7px 0px #000;
    margin-top: 10px;
    background-color: rgba(1, 7, 27, 0.695);
    background: linear-gradient(to top, rgba(1, 7, 27, 0.671), #2a475e);
    /* margin: 20px; */
}

.add_cart {
    position: absolute;
    background: none;
    top: 10px;
    right: 8px;
    height: 40px;
    width: 40px;
    border-radius: 32px;
    visibility: hidden;
}

.card:hover .add_cart {
    visibility: visible;
}

.slide_info {
    display: block;
    width: 234px;
    color: white;
    flex-shrink: 1;
}

.slide_info>span {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 10px;
}

.game_title {
    font-size: 20px;
    font-weight: 500;
}

.game_price {
    position: absolute;
    bottom: 14px;
    left: 625px;
    font-size: 12px;
    font-weight: 400;
}

.platforms {
    color: white;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.platform {
    padding-left: 5px;
}

/* BELOW STYLES ARE FOR THE GAME CARDS THAT APPEAR FROM SEARCHING */

.search_card {
    display: flex;
    align-items: center;
    box-shadow: 0 0 7px 0px #000;
    /* margin-top: 10px; */
    background-color: rgba(1, 7, 27, 0.695);
    background: linear-gradient(to top, rgba(1, 7, 27, 0.671), #2a475e);
    margin: 20px;
    width: 500px;
    height: 250px;
}

.game {
    object-fit: cover;
    max-width: 300px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.search_info {
    display: block;
    /* float: right; */
    margin-left: 20px;
    margin-right: 10px;
    width: 200px;
    color: white;
    flex-shrink: 1;
}

.search_info>span {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 70px;
    padding: 10px;
}

.card_title {
    justify-self: center;
    font-size: 16px;
    font-weight: 500;
}