.game_container {
    border-radius: 8px;
    width: 85%;
    min-width: fit-content;
    min-height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.game_content {
    display: grid;
    grid-template-columns: 1fr max(26vw, 300px);
    grid-template-rows: 1fr min-content;
    gap: clamp(20px, 3vw, 30px);
    flex: 1 1;
    margin-top: 60px;
    align-items: center;
    justify-items: center;
}

.game_info {
    display: flex;
    flex-direction: column;
    overflow:hidden;
}

.game_description {
    padding: 25px;
    max-height: 400px;
    color: lightgray;
    background: rgba(0,0,0,0.4);
    border-radius: 16px;
    overflow-y: auto;
    mask-image: -webkit-gradient(linear, left 70%, left bottom, from(rgba(0,0,0,1)), to(rgba(0, 0, 0, 0)))
}

.game_description > h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}