.header {
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(14, 14, 19);
    top: 0;
    z-index: 300;
    position: sticky;
}

.header a {
    color: #fff;
}

.nav_link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.header_logo_icon {
    margin-right: 5px;
}

.header_logo {
    display: flex;
    align-items: center;
    color: lightgray;
    margin-left: 30px;
}

.header_logo > h1 {
    font-size: 30px;
}

.search_container {
    min-width: fit-content;
}

.header_search {
    display: flex;
    justify-self: center;
    align-items: center;
    color: white;
}

.header_search > input {
    padding-left: 15px;
    height: 30px;
    width: 500px;
    border-radius: 10px;
    color: white;
    background-color: rgb(56, 56, 56);
    transition: background-color 0.2s, color 0.2s;
}

.header_search > button {
    margin-left: 5px;
    background-color: rgb(14, 14, 19);
}

.header_search_icon {
   color:white;
}

.header_navbar {
    display: flex;
    justify-content: space-evenly;
    margin-right: 20px;
}

.nav_option {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    color: white;
}

.nav_optionOne {
    font-size: 13px;
}

.nav_optionTwo {
    font-size: 15px;
    font-weight: 700;
}

.nav_cart {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.nav_cartCount {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    background-color:rgb(78, 78, 78);
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 600;
}

@media screen and (max-width: 900px) {
    .header {
        display: block;
        height: auto;
        margin: 0;
    }
}

/* game detail nav header styles */
.game_header_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 30px;
    border-bottom: 1px solid lightgray;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.game_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.game_header > h2 {
    font-size: 40px;
    font-weight: 800;
}

.game_header_info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28%;
}

.game_header_info > h4 {
    font-size: 25px;
    font-weight: 600;
}

.game_cart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.game_cart > h3 {
    font-size: 20px;
    font-weight: 600;
}

.game_add_cart_button {
    width: 60px;
    height: 40px;
    padding: 10px;
    background: none;
}

.nav_button {
    min-width: fit-content;
    min-height: fit-content;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 120px;
    height: 50px;
    border-radius: 16px;
}

.nav_button > span {
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}

.game_header > h2 {
    text-align: right;
    color: white;
    font-weight: 700;
}